<div class="title">
  <h1 id="name"><%= link_to "Balloon Blast", root_path %></h1>
</div>

<div class="balloon">
  <div class="main">
    <div id="grids">
      <% row = 1 %>
      <% i = 1 %>
      <% 11.times do %>
        <% column = 1 %>
        <% 11.times do %>
          <div id="<%= i %>" class="grid
            <%= column == 1 ? "left-boundary" : "" %> <%= column == 11 ? "right-boundary" : "" %>
            <%= row == 1 ? "up-boundary" : "" %> <%= row == 11 ? "down-boundary" : "" %>"></div>
          <% i += 1 %>
          <% column += 1 %>
        <% end %>
        <% row += 1 %>
      <% end %>
    </div>
  </div>

  <div class="data">
    No. of balloons: <div id="limit-1">1</div>

    Balloon strength: <div id="strength-1">1</div>

    No. of balloons: <div id="limit-2">1</div>

    Balloon strength: <div id="strength-2">1</div>

    <div id="start">Reset</div>

    <div class="instructions">
      <b>Player 1:</b> <b>WASD</b> to move and <b>SPACE</b> to drop balloon.
      <br>
      <b>Player 2:</b> <b>← ↑ → ↓</b> to move and <b>ENTER</b> to drop balloon.
      <br>
      Collect <a class="exballoon">Ex Balloons</a> and <a class="power">Powerups</a> to give yourself an advantage.
    </div>
  </div>
</div>
