<div class="title">
  <h1 id="name"><%= link_to "Balloon Blast", root_path %></h1>
</div>

<div class="balloon">
  <div class="main">
    <div id="grids">
      <% row = 1 %>
      <% i = 1 %>
      <% 11.times do %>
        <% column = 1 %>
        <% 11.times do %>
          <div id="<%= i %>" class="grid
            <%= column == 1 ? "left-boundary" : "" %> <%= column == 11 ? "right-boundary" : "" %>
            <%= row == 1 ? "up-boundary" : "" %> <%= row == 11 ? "down-boundary" : "" %>"></div>
          <% i += 1 %>
          <% column += 1 %>
        <% end %>
        <% row += 1 %>
      <% end %>
    </div>
  </div>

  <div class="data">
    No. of balloons:
    <div id="limit">1</div>

    Balloon strength:
    <div id="strength">1</div>

    <div id="start">Start</div>
    <div class="instructions">
      Collect <a class="exballoon">Ex Balloons</a> to increase the number of balloons you can release at once.
      Collect <a class="power">Powerups</a> to increase the strength of your balloons.
    </div>
  </div>
</div>
