<%= javascript_pack_tag 'connect_four', 'data-turbolinks-track': 'reload', defer: true %>

<div class="title">
  <h1><%= link_to "Connect Four", root_path %></h1>
</div>

<div class="main-c-4">
  <div id="grids-c-4">
    <% row = 1 %>
    <% i = 1 %>
    <% 10.times do %>
      <% column = 1 %>
      <% 10.times do %>
        <div class="overlay">
          <div id="<%= row %>-<%= column %>" class="grid-c-4 r-<%= row %> c-<%= column %>"></div>
        </div>
        <% i += 1 %>
        <% column += 1 %>
      <% end %>
      <% row += 1 %>
    <% end %>
  </div>

  <div class="data-c-4">
    <div class="player-data">
      <div id="player-1" class="player active"><a><b>P1</b></a></div>
      <div id="player-2" class="player"><a><b>P2</b></a></div>
    </div>
    <div id="reset"><a><b>Reset Game</b></a></div>
  </div>
</div>
