<div class="title">
  <h1 id="name"><%= link_to "Depth Charge", root_path %></h1>
</div>

<audio class="laser invisible" controls preload="none">
    <source src="<%= asset_path('laser.mp3') %>" type="audio/mpeg">
</audio>

<audio class="reload invisible" controls preload="none">
    <source src="<%= asset_path('reload-ammo.mp3') %>" type="audio/mpeg">
</audio>

<audio class="impact invisible" controls preload="none">
    <source src="<%= asset_path('depth-charge.mp3') %>" type="audio/mpeg">
</audio>

<audio class="swim invisible" controls preload="none">
    <source src="<%= asset_path('swim.mp3') %>" type="audio/mpeg">
</audio>

<img src="<%= asset_path("diver.jpg") %>" class="invisible" id="avatar">

<div class="depth-charge">
  <canvas id="game"></canvas>

  <div class="data depth-charge-data">
    <a><b>Score:</b></a>
    <div id="score">0</div>
    <div id="start">Start</div>
    <div class="instructions">
      <a>Click left mouse button to swim up and <b>SPACE</b> to fire. Collect ammo to increase your number of shots.</a>
    </div>
  </div>
</div>
