<div class="title">
  <h1 id="name">Gaming Center</h1>
</div>

<div class="container">
  <div class="games">
    <div class="1-p-games">
      <%= link_to cell_buster_path do %>
        <%= image_tag "Cell_Buster", class: "game-image", alt: "Cell Buster" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to helicopter_path do %>
        <%= image_tag "Helicopter", class: "game-image", alt: "Helicopter" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to caterpillar_path do %>
        <%= image_tag "Caterpillar", class: "game-image", alt: "Caterpillar" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to tetris_path do %>
        <%= image_tag "Tetris", class: "game-image", alt: "Tetris" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to pong_path do %>
        <%= image_tag "Pong", class: "game-image", alt: "Pong" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to simon_says_path do %>
        <%= image_tag "Simon_Says", class: "game-image", alt: "Simon Says" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to match_3_path do %>
        <%= image_tag "Match_3", class: "game-image", alt: "Match 3" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to hangman_path do %>
        <%= image_tag "Hangman", class: "game-image", alt: "Hangman" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to play_2048_path do %>
        <%= image_tag "2048", class: "game-image", alt: "2048" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to test_path do %>
        <%= image_tag "", class: "game-image", alt: "Test" %>
      <% end %>
    </div>
    <div class="2-p-games">
      <%= link_to connect_four_path do %>
        <%= image_tag "Connect_Four", class: "game-image", alt: "Connect Four" %>
      <% end %>
    </div>
</div>
