<div id="grids">
  <% i = 1 %>
  <% j = 1 %>
  <% 10.times do %>
    <% k = 1 %>
    <% 10.times do %>
      <div id="<%= j %>" class="grid <%= j == 1 ? "active" : "" %> <%= k == 1 ? "left-boundary" : "" %> <%= k == 10 ? "right-boundary" : "" %>"><%= j %></div>
      <% j += 1 %>
      <% k += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>
