<div data-controller="home">
  <div class="title">
    <h1 id="name">Games Platform</h1>
  </div>

  <div class="container game-center">
    <div class="sort">
      <div class="all tab active">All Games</div>
      <div class="single-p tab">Single Player</div>
      <div class="two-p tab">Two Player</div>
    </div>

    <div class="games">
      <div class="1-p-games game">
        <%= link_to cell_buster_path do %>
          <%= image_tag "Cell_Buster.png", class: "game-image", alt: "Cell Buster" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to helicopter_path do %>
          <%= image_tag "Helicopter.png", class: "game-image", alt: "Helicopter" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to caterpillar_path do %>
          <%= image_tag "Caterpillar.png", class: "game-image", alt: "Caterpillar" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to tetris_path do %>
          <%= image_tag "Tetris.png", class: "game-image", alt: "Tetris" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to pong_path do %>
          <%= image_tag "Pong.png", class: "game-image", alt: "Pong" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to simon_says_path do %>
          <%= image_tag "Simon_Says.png", class: "game-image", alt: "Simon Says" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to match_3_path do %>
          <%= image_tag "Match_3.png", class: "game-image", alt: "Match 3" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to hangman_path do %>
          <%= image_tag "Hangman.png", class: "game-image", alt: "Hangman" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to play_2048_path do %>
          <%= image_tag "2048.png", class: "game-image", alt: "2048" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to sound_beat_path do %>
          <%= image_tag "Sound_Beat.png", class: "game-image", alt: "Sound Beat" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to blockman_path do %>
          <%= image_tag "Blockman.png", class: "game-image", alt: "Blockman" %>
        <% end %>
      </div>
      <div class="1-p-games game">
        <%= link_to depth_charge_path do %>
          <%= image_tag "Depth_Charge.png", class: "game-image", alt: "Depth Charge" %>
        <% end %>
      </div>
      <div class="2-p-games game">
        <%= link_to connect_four_path do %>
          <%= image_tag "Connect_Four.png", class: "game-image", alt: "Connect Four" %>
        <% end %>
      </div>
      <div class="2-p-games game">
        <%= link_to balloon_blast_path do %>
          <%= image_tag "Balloon_Blast.png", class: "game-image", alt: "Balloon Blast" %>
        <% end %>
      </div>
  </div>
</div>
