<div class="title">
  <h1 id="name">Gaming Center</h1>
</div>

<div class="container">
  <div class="games">
    <div class="1-p-games">
      <%= link_to cell_buster_path do %>
        <%= image_tag "Cell_Buster", class: "game-image", alt: "Cell Buster" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to helicopter_path do %>
        <%= image_tag "Helicopter", class: "game-image", alt: "Helicopter" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to caterpillar_path do %>
        <%= image_tag "Caterpillar", class: "game-image", alt: "Caterpillar" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to tetris_path do %>
        <%= image_tag "Tetris", class: "game-image", alt: "Tetris" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to pong_path do %>
        <%= image_tag "Pong", class: "game-image", alt: "Pong" %>
      <% end %>
    </div>
    <div class="1-p-games">
      <%= link_to game_path do %>
        <%= image_tag "", class: "game-image", alt: "" %>
      <% end %>
    </div>
    <div class="2-p-games">
      <%= link_to connect_four_path do %>
        <%= image_tag "Connect_Four", class: "game-image", alt: "Connect Four" %>
      <% end %>
    </div>
</div>
