<div id="grids">
  <% i = 1 %>
  <% j = 1 %>
  <% 20.times do %>
    <% k = 1 %>
    <% 20.times do %>
      <div id="<%= j %>" class="grid <%= j == 381 ? "active" : "" %>
        <%= k == 1 ? "left-boundary" : "" %> <%= k == 20 ? "right-boundary" : "" %>
        <%= i == 1 ? "up-boundary" : "" %> <%= i == 20 ? "down-boundary" : "" %>"></div>
      <% j += 1 %>
      <% k += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>
