<div id="grids">
  <% i = 1 %>
  <% j = 1 %>
  <% 20.times do %>
    <% k = 1 %>
    <% 20.times do %>
      <div id="<%= j %>" class="grid <%= j == 381 ? "active" : "" %>
        <%= k == 1 ? "left-boundary" : "" %> <%= k == 20 ? "right-boundary" : "" %>
        <%= i == 1 ? "up-boundary" : "" %> <%= i == 20 ? "down-boundary" : "" %>"></div>
      <% j += 1 %>
      <% k += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>

<div id="timer">60</div>

<div id="level-selector">
  <div id="level-decrease" class="level-adjustor"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
  <div id="level" class="level-adjustor">1</div>
  <div id="level-increase" class="level-adjustor"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
</div>

<div id="start"></div>
