<div class="title">
  <h1 id="name"><%= link_to "Match 3", root_path %></h1>
</div>

<div class="main">
  <div id="grids-m-3">
    <% row = 0 %>
    <% i = 0 %>
    <% 9.times do %>
      <% column = 0 %>
      <% 9.times do %>
      <div class="grid-overlay">
        <div id="<%= i %>" class="<%= column %> <%= row %> grid <%= column == 0 ? "left-boundary" : "" %> <%= column == 8 ? "right-boundary" : "" %>
          <%= row == 0 ? "up-boundary" : "" %> <%= row == 8 ? "down-boundary" : "" %>"><%= i %></div>
      </div>
        <% i += 1 %>
        <% column += 1 %>
      <% end %>
      <% row += 1 %>
    <% end %>
  </div>

  <div class="data">
    <a><b>Time Remaining:</b></a>
    <div id="timer">60</div>
    <a><b>Level:</b></a>
    <div id="level-selector">
      <div id="level-decrease" class="level-adjustor"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      <div id="level" class="level-adjustor">1</div>
      <div id="level-increase" class="level-adjustor"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    </div>
    <a><b>Score:</b></a>
    <div id="score">0</div>
    <div id="start">Start</div>
    <div class="instructions">
      <a>Move using the arrow keys and press space to shoot.</a>
    </div>
  </div>
</div>
