<div data-controller="match-3">
  <div class="title">
    <h1 id="name"><%= link_to "Match 3", root_path %></h1>
  </div>

  <div id="game-state" class="invisible">Off</div>

  <audio class="pop invisible" controls preload="none">
      <source src="<%= asset_path('pop.mp3') %>" type="audio/mpeg">
  </audio>

  <div class="main">
    <div id="grids-m-3">
      <% row = 0 %>
      <% i = 0 %>
      <% 9.times do %>
        <% column = 0 %>
        <% 9.times do %>
        <div class="grid-overlay">
          <div id="<%= i %>" class="c-<%= column %> r-<%= row %> grid
            <%= column == 0 ? "left-boundary" : "" %> <%= column == 8 ? "right-boundary" : "" %>
            <%= row == 0 ? "up-boundary" : "" %> <%= row == 8 ? "down-boundary" : "" %>"></div>
        </div>
          <% i += 1 %>
          <% column += 1 %>
        <% end %>
        <% row += 1 %>
      <% end %>
    </div>

    <div class="data">
      <a><b>Time Remaining:</b></a>
      <div id="timer">180</div>
  <!--     <a><b>Level:</b></a>
      <div id="level-selector">
        <div id="level-decrease" class="level-adjustor"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
        <div id="level" class="level-adjustor">1</div>
        <div id="level-increase" class="level-adjustor"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      </div> -->
      <a><b>Score:</b></a>
      <div id="score">0</div>
      <div id="start">Start</div>
      <div class="instructions">
        <a>Click on the colors you want to swap to get a match of 3 or more.</a>
      </div>
    </div>
  </div>
</div>
